{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Airbnb</h1>
<form action="/" method="POST">
    <input type="text" name="nombre" placeholder="Search by User ID">
    <input type="submit" value="Search">
</form>
<h2>All Users</h2>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
