{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h1>Search Results</h1>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
